@import "mocha.css";
* {
    font-size: 14px;
    font-family: "JetBrainsMono Nerd Font";
}

#waybar {
    background: transparent;
    color: @text;
    margin: 3px 3px;
}

#workspaces {
    border-radius: 1rem;
    margin: 3px;
    padding: 0.2rem 0.5rem;
    background-color: @surface0;
    margin-left: 1rem;
}

#workspaces button {
    color: @yellow;
    border-radius: 1rem;
    padding: 0rem 0.5rem;
}

#workspaces button.active {
    color: @lavender;
    font-weight: bold;
}

#workspaces button.urgent {
    color: @red;
    font-weight: bold;
}

#workspaces button:hover {
    color: @sapphire;
}

#custom-notification,
#tray,
#backlight,
#clock,
#battery,
#wireplumber,
#custom-lock,
#custom-power {
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 3px 0;
}

#custom-notification {
    padding-left: 1rem;
    border-radius: 1rem 0px 0px 1rem;
}

#clock {
    color: @blue;
    border-radius: 0px 1rem 1rem 0px;
    margin-right: 1rem;
}

#battery {
    color: @yellow;
}

#battery.charging {
    color: @green;
}

#battery.plugged {
    color: @green;
}

#battery.plugged:not(.charging) {
    color: @lavender;
}

#battery.warning:not(.charging) {
    color: @red;
}

#battery.warning:not(.charging) {
    color: @red;
}

#backlight {
    color: @yellow;
}

#backlight,
#battery {
    border-radius: 0;
}

#wireplumber {
    color: @maroon;
}

#custom-music {
    color: @mauve;
    border-radius: 1rem;
}

#custom-lock {
    border-radius: 1rem 0px 0px 1rem;
    color: @lavender;
}

#custom-power {
    margin-right: 0.5rem;
    border-radius: 0px 1rem 1rem 0px;
    color: @red;
    font-weight: bold;
}

#tray {
    margin-right: 1rem;
    border-radius: 1rem;
}
