* {
    font-family: "JetBrainsMono Nerd Font";
}

.notification-row {
    outline: none;
}

.notification-row:focus,
.notification-row:hover {
    background: rgba(68, 68, 68, 0.6);
}

.notification-row .notification-background {
    padding: 6px 12px;
}

.notification-row .notification-background .close-button {
    /* The notification Close Button */
    background: #1a1b26;
    color: #f1f1f1;
    text-shadow: none;
    padding: 0;
    border-radius: 5px;
    margin-top: 5px;
    margin-right: 5px;
    box-shadow: none;
    border: none;
    min-width: 24px;
    min-height: 24px;
}

.notification-row .notification-background .close-button:hover {
    box-shadow: none;
    background: #222330;
    transition: background 0.15s ease-in-out;
    border: none;
}

.notification-row .notification-background .notification {
    /* The actual notification */
    border-radius: 15px;
    border: 1px solid #1a1b26;
    padding: 15px 10px;
    transition: background 0.15s ease-in-out;
    background: #1a1b26;
}

.notification-row .notification-background .notification.low {
    /* Low Priority Notification */
    border-radius: 15px;
    border: 2px solid #9ece6a;
    padding: 15px;
    transition: background 0.15s ease-in-out;
    background: #1a1b26;
}

.notification-row .notification-background .notification.normal {
    /* Normal Priority Notification */
    border-radius: 15px;
    border: 2px solid #e0af68;
    padding: 15px;
    transition: background 0.15s ease-in-out;
    background: #1a1b26;
}

.notification-row .notification-background .notification.critical {
    /* Critical Priority Notification */
    border-radius: 15px;
    border: 2px solid #f7768e;
    padding: 15px;
    transition: background 0.15s ease-in-out;
    background: #1a1b26;
}

.notification-row .notification-background .notification .notification-action,
.notification-row
    .notification-background
    .notification
    .notification-default-action {
    padding: 4px;
    margin: 0;
    box-shadow: none;
    background: transparent;
    border: none;
    color: #f1f1f1;
    transition: background 0.15s ease-in-out;
}

.notification-row
    .notification-background
    .notification
    .notification-action:hover,
.notification-row
    .notification-background
    .notification
    .notification-default-action:hover {
    -gtk-icon-effect: none;
    background: #222330;
}

.notification-row
    .notification-background
    .notification
    .notification-default-action {
    /* The large action that also displays the notification summary and body */
    border-radius: 10px;
}

.notification-row
    .notification-background
    .notification
    .notification-default-action:not(:only-child) {
    /* When alternative actions are visible */
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.notification-row
    .notification-background
    .notification
    .notification-default-action
    .notification-content {
    background: transparent;
    border-radius: 10px;
    padding: 4px;
}

.notification-row
    .notification-background
    .notification
    .notification-default-action
    .notification-content
    .image {
    /* Notification Primary Image */
    -gtk-icon-effect: none;
    border-radius: 10px;
    /* Size in px */
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 6px;
    margin-right: 20px;
}

.notification-row
    .notification-background
    .notification
    .notification-default-action
    .notification-content
    .app-icon {
    /* Notification app icon (only visible when the primary image is set) */
    -gtk-icon-effect: none;
    -gtk-icon-shadow: none;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 6px;
    margin-right: 10px;
}

.notification-row
    .notification-background
    .notification
    .notification-default-action
    .notification-content
    .text-box
    .summary {
    /* Notification summary/title */
    font-size: 18px;
    font-weight: bold;
    background: transparent;
    color: #9ece6a;
    text-shadow: none;
}

.notification-row
    .notification-background
    .notification
    .notification-default-action
    .notification-content
    .text-box
    .time {
    /* Notification time-ago */
    font-size: 16px;
    font-weight: bold;
    background: transparent;
    color: #f1f1f1;
    text-shadow: none;
    margin-right: 30px;
}

.notification-row
    .notification-background
    .notification
    .notification-default-action
    .notification-content
    .text-box
    .body {
    /* Notification body */
    font-size: 14px;
    font-weight: normal;
    background: transparent;
    color: #f1f1f1;
    text-shadow: none;
}

.notification-row
    .notification-background
    .notification
    .notification-default-action
    .notification-content
    progressbar {
    /* The optional notification progress bar */
    margin-top: 4px;
}

.notification-row
    .notification-background
    .notification
    .notification-default-action
    .notification-content
    .body-image {
    /* The "extra" optional bottom notification image */
    margin-top: 4px;
    background-color: #f1f1f1;
    border-radius: 10px;
    -gtk-icon-effect: none;
}

.notification-row
    .notification-background
    .notification
    .notification-default-action
    .notification-content
    .inline-reply {
    /* The inline reply section */
    margin-top: 4px;
}

.notification-row
    .notification-background
    .notification
    .notification-default-action
    .notification-content
    .inline-reply
    .inline-reply-entry {
    background: #1a1b26;
    color: #f1f1f1;
    caret-color: #7aa2f7;
    border: 1px solid #1a1b26;
    border-radius: 10px;
}

.notification-row
    .notification-background
    .notification
    .notification-default-action
    .notification-content
    .inline-reply
    .inline-reply-button {
    margin-left: 4px;
    background: #1a1b26;
    border: 1px solid #7aa2f7;
    border-radius: 10px;
    color: #7aa2f7;
}

.notification-row
    .notification-background
    .notification
    .notification-default-action
    .notification-content
    .inline-reply
    .inline-reply-button:disabled {
    background: initial;
    color: #515181;
    border: 1px solid #7aa2f7;
    border-color: transparent;
}

.notification-row
    .notification-background
    .notification
    .notification-default-action
    .notification-content
    .inline-reply
    .inline-reply-button:hover {
    background: #1a1b26;
}

.notification-row .notification-background .notification .notification-action {
    /* The alternative actions below the default action */
    border-top: 1px solid #7aa2f7;
    border-radius: 5px;
    border-right: 1px solid #7aa2f7;
}

.notification-row
    .notification-background
    .notification
    .notification-action:first-child {
    /* add bottom border radius to eliminate clipping */
    border-bottom-left-radius: 12px;
}

.notification-row
    .notification-background
    .notification
    .notification-action:last-child {
    border-bottom-right-radius: 12px;
    border-right: none;
}

.notification-group {
    /* Styling only for Grouped Notifications */
}

.notification-group.low {
    /* Low Priority Group */
}

.notification-group.normal {
    /* Low Priority Group */
}

.notification-group.critical {
    /* Low Priority Group */
}

.notification-group .notification-group-buttons,
.notification-group .notification-group-headers {
    margin: 0 16px;
    color: #9ece6a;
}

.notification-group .notification-group-headers {
    /* Notification Group Headers */
}

.notification-group .notification-group-headers .notification-group-icon {
    color: #7aa2f7;
}

.notification-group .notification-group-headers .notification-group-header {
    color: #f7768e;
}

.notification-group .notification-group-buttons {
    /* Notification Group Buttons */
    color: #9ece6a;
}

.notification-group.collapsed .notification-row .notification {
    background-color: #191929;
}

.notification-group.collapsed .notification-row:not(:last-child) {
    /* Top notification in stack */
    /* Set lower stacked notifications opacity to 0 */
}

.notification-group.collapsed
    .notification-row:not(:last-child)
    .notification-action,
.notification-group.collapsed
    .notification-row:not(:last-child)
    .notification-default-action {
    opacity: 0.8;
}

.notification-group.collapsed:hover
    .notification-row:not(:only-child)
    .notification {
    background-color: #222330;
}

/*
  THE CONTROL CENTER

  This is the control panel, that panel that I can open with the waybar
*/

.control-center {
    /* The Control Center which contains the old notifications + widgets */
    background: #1a1b26;
    color: #7aa2f7;
    border: 2px solid #1a1b26;
    border-radius: 18px;
    margin: 8px 10px;
    padding: 10px;
}

.control-center .control-center-list-placeholder {
    /* The placeholder when there are no notifications */
    opacity: 0.3;
    color: #f1f1f1;
}

.control-center .control-center-list {
    /* List of notifications */
    background: transparent;
}

.control-center .control-center-list .notification .notification-default-action,
.control-center .control-center-list .notification .notification-action {
    transition:
        opacity 400ms ease-in-out,
        background 0.15s ease-in-out;
}

.control-center
    .control-center-list
    .notification
    .notification-default-action:hover,
.control-center .control-center-list .notification .notification-action:hover {
    background-color: #1a1b26;
}

.blank-window {
    /* Window behind control center and on all other monitors */
    background: transparent;
}

.floating-notifications {
    background: transparent;
}

.floating-notifications .notification {
    box-shadow: none;
}

/*** Widgets ***/

/* DND widget */
.widget-dnd {
    font-weight: bold;
    color: #9ece6a;
    margin: 15px;
    font-size: 20px;
}

.widget-dnd > switch {
    font-size: initial;
    border-radius: 700px;
    background: #1a1b26;
    border: 2px solid #f7768e;
    box-shadow: none;
}

.widget-dnd > switch:checked {
    background: #1a1b26;
    border-radius: 700px;
    color: #f7768e;
}

.widget-dnd > switch slider {
    background: #f7768e;
    border-radius: 5px;
    border-radius: 400px;
    color: #f7768e;
}

/* Label widget */
.widget-label {
    margin: 8px;
}

.widget-label > label {
    font-size: 15px;
    margin: 10px;
}
/* Title widget */

.widget-title {
    margin-left: 10px;
    padding: 5px;
    font-size: 20px;
    color: #e0af68;
}
.widget-title > button {
    all: unset;
    font-size: 22px;
    font-weight: 900;
    margin: 4px 0px;
    padding: 0px;
    color: #7aa2f7;
    text-shadow: none;
    background: #1a1b26;
    border: 2px solid #7aa2f7;
    box-shadow: none;
    border-radius: 5px;
}
.widget-title > button:hover {
    background: #1a1b26;
}
